{% extends 'base.html' %}
{% block body_content %}

<h1>ZeroTier API:</h1>

<form action=" " method="post" novalidate>

    {{form.hidden_tag() }}
    <p> {{ form.netID.label }}
        {{ form.netID(size=32) }}
    </p>
    {{form.hidden_tag() }}
    <p> {{ form.token.label }}
        {{ form.token(size=32) }}
    </p>
    <p>
        {{ form.getip() }}
    </p>

</form>


{% endblock %}